<!-- Footer section -->
<div class="footer-section footer-4 {{footer_class}}">
  <div class="container">
    <div class="footer-top">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-6 mb--30 text-lg-left text-center">
          <div class=" d-lg-flex">
            <div class="footer-logo mr-lg-4 mb-4 mb-lg-0">
              <img src="./image/png/anya-logo.png" alt="">
            </div>
            <p class="copyright-text">
              &copy; 2021 Anya Consultancy, All Rights Reserved
            </p>
          </div>
        </div>
        <div class="col-lg-6 text-center mb--30 ml-auto">
            <ul class="footer-list list-inline">
              <li><a href="">Support</a></li>
              <li><a href="">Privacy Policy</a></li>
              <li><a href="">Terms and Conditions</a></li>
            </ul>
        </div>
        
      </div>
    </div>
  </div>
 </div>