<!-- Header Area -->
<header class="site-header header-1{{header_class}}">
  <div class="container-fluid pr-lg--30 pl-lg--30">
    <nav class="navbar site-navbar offcanvas-active navbar-expand-lg navbar-light">
      <!-- Brand Logo-->
      <div class="brand-logo"><a href="index.html"><img src="./image/png/anya.png" alt=""></a></div>
      <div class="collapse navbar-collapse" id="mobile-menu">
        <div class="navbar-nav ml-lg-auto mr--10">
           {% include "_menu.njk" %}
           <button class="btn-close navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-menu" aria-controls="mobile-menu" aria-expanded="true" aria-label="Toggle navigation">
            <i class="icon icon-simple-remove"></i>
          </button>
        </div>
        <button class="btn-close" type="button" data-toggle="collapse" data-target="#mobile-menu" aria-controls="mobile-menu" aria-expanded="true" aria-label="Toggle navigation">
          <i class="icon icon-e-remove"></i>
        </button>
      </div>
      <div class="header-btns ml-auto ml-lg-0 mr--15 mr-lg--0"><a class="btn btn--primary btn-header hvr-bounce-to-left" href="contact-2.html">Contact</a></div>
      <button class="navbar-toggler btn-close-off-canvas" type="button" data-toggle="collapse" data-target="#mobile-menu" aria-controls="mobile-menu" aria-expanded="false" aria-label="Toggle navigation">
        <i class="icon icon-simple-remove icon-close"></i>
        <i class="icon icon-menu-34 icon-burger"></i>
      </button>
    </nav>
  </div>
</header>
