<ul class="navbar-nav main-menu">
  <li class="nav-item">
    <a class="nav-link" href="service.html" role="button" aria-expanded="false">Service</a>
  </li>
  <li class="nav-item dropdown">
    <a
      class="nav-link dropdown-toggle"
      id="navbarDropdown"
      href="index.html"
      role="button"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false">Products</a>
    <ul class="menu-dropdown dropdown-menu" aria-labelledby="navbarDropdown">
      <li class="drop-menu-item">
        <a href="products.html">
          Product-1
        </a>
      </li>
      <li class="drop-menu-item">
        <a href="404.html">
          Product-2
        </a>
      </li>
    </ul>
  </li>
  <li class="nav-item dropdown">
    <a
      class="nav-link dropdown-toggle"
      id="navbarDropdown"
      href="index.html"
      role="button"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false">About</a>
    <ul class="menu-dropdown dropdown-menu" aria-labelledby="navbarDropdown">
      <li class="drop-menu-item">
        <a href="about.html">
          About-Us
        </a>
      </li>
      <li class="drop-menu-item">
        <a href="faq.html">
          F.A.Q
        </a>
      </li>
      <li class="drop-menu-item dropdown">
        <a
          class="dropdown-toggle"
          id="navbarDropdown21"
          href="#"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
          Career
        </a>
        <ul class="menu-dropdown dropdown-menu dropdown-right" aria-labelledby="navbarDropdown21">
          <li class="drop-menu-item">
            <a href="career-page.html">
              Career Story
            </a>
          </li>
          <li class="drop-menu-item">
            <a href="careerdetails.html">
              Career Story Details
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li class="nav-item dropdown">
    <a
      class="nav-link dropdown-toggle"
      id="navbarDropdown2"
      href="#features"
      role="button"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false">Resources</a>
    <ul class="menu-dropdown dropdown-menu" aria-labelledby="navbarDropdown2">
      <li class="drop-menu-item dropdown">
        <a
          class="dropdown-toggle"
          id="navbarDropdown21"
          href="#"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
          Use-Cases
        </a>
        <ul class="menu-dropdown dropdown-menu dropdown-right" aria-labelledby="navbarDropdown21">
          <li class="drop-menu-item">
            <a href="case-study.html">
              Cases Study
            </a>
          </li>
          <li class="drop-menu-item">
            <a href="case-study-details.html">
              Cases Study Details
            </a>
          </li>
        </ul>
      </li>
      <li class="drop-menu-item dropdown">
        <a
          class="dropdown-toggle"
          id="navbarDropdown22"
          href="#"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
          Blog
        </a>
        <ul class="menu-dropdown dropdown-menu dropdown-right" aria-labelledby="navbarDropdown22">
          <li class="drop-menu-item">
            <a href="blog-regular.html">
              Blogs
            </a>
          </li>
          <li class="drop-menu-item">
            <a href="blog-details.html">
              Blogs Details
            </a>
          </li>
        </ul>
      </li>
    </li>
  </li>
</ul>