{% extends "template.njk" %}

{% block main %}

 {% include "_header-1.njk" %}

 <!-- Hero Area -->
 <div class="inner-hero-area bg-gradient">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="inner-hero-text">
            <h1 class="title">Services</h1>
            <p>At Anya Consultancy, our aim is to always offer you a high quality service to ensure that your business runs smoothly.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

   <!-- Content Area 1 -->
  <div class="omga-07__content-section-2">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-5 mb--30 mb--md-0">
          <div class="omga-07__content-text" >
            <h2 class="title">Business <br class="d-none d-sm-block d-md-none d-xl-block"> Intelligence.</h2>
            <p>We’re proud to be a Microsoft Gold Partner and certified in all aspects of Microsoft technology. Our technology experts can help you select the right software package for your business and get you one step closer to maximizing your return on investment.</p>
          </div>
        </div>
        <div class="col-lg-5 col-md-9">
          <div class="omga-07__hero-image">
            <img src="./image/png/l7-hero-image-1.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

 <!-- Content Area 2 -->
  <div class="omga-07__hero-area bg-black-squeeze">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-5 col-xl-4 col-md-5 col-sm-6 mb--30 mb-md--0" data-aos="fade-right" data-aos-duration="500" data-aos-delay="1600" data-aos-once="true">
          <div class="omga-07__hero-image" >
            <img src="./image/png/l7-hero-image.png" alt="">
          </div>
        </div>
        <div class="col-lg-7 col-xl-6 col-md-7 offset-xl-1" data-aos="fade-right" data-aos-duration="500" data-aos-once="true">
          <div class="omga-07__hero-content ">
            <h1 class="title">Application <br class="d-none d-lg-block"> Development</h1>
            <p>We build applications that are easy to use, visually appealing, and bring at least one new idea to their users. Our experts will help you put together something that is innovative and cutting-edge.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Content Area 3 -->
  <div class="omga-07__content-section-2">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-5 mb--30 mb--md-0">
          <div class="omga-07__content-text" >
            <h2 class="title">Business <br class="d-none d-sm-block d-md-none d-xl-block"> Intelligence.</h2>
            <p>We’re proud to be a Microsoft Gold Partner and certified in all aspects of Microsoft technology. Our technology experts can help you select the right software package for your business and get you one step closer to maximizing your return on investment.</p>
          </div>
        </div>
        <div class="col-lg-5 col-md-9 ">
          <div class="omga-07__hero-image">
            <img src="./image/png/l7-hero-image-1.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Content Area 4 -->
  <div class="omga-07__hero-area bg-black-squeeze">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-5 col-xl-4 col-md-5 col-sm-6 mb--30 mb-md--0" data-aos="fade-right" data-aos-duration="500" data-aos-delay="1600" data-aos-once="true">
          <div class="omga-07__hero-image" >
            <img src="./image/png/l7-hero-image-4.png" alt="">
          </div>
        </div>
        <div class="col-lg-7 col-xl-6 col-md-7 offset-xl-1" data-aos="fade-right" data-aos-duration="500" data-aos-once="true">
          <div class="omga-07__hero-content ">
            <h1 class="title">Application <br class="d-none d-lg-block"> Development</h1>
            <p>We build applications that are easy to use, visually appealing, and bring at least one new idea to their users. Our experts will help you put together something that is innovative and cutting-edge.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- CTA section -->
  <div class="omga-01__cta-section section-padding">
    <div class="shape-1" data-aos="fade-right" data-aos-duration="400" data-aos-once="true">
      <img src="./image/png/l1-cta-oval.png" alt="">
    </div>
    <div class="shape-2">
      <img src="./image/svg/l1-curve-cta.svg" alt="">
    </div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-7 col-xl-6">
          <div class="section-title text-center">
            <h2 class="title"> Want to know more?</h2>
            <p>Drop us your email address and we’ll get back to you to learn how we can help you sustain in this changing word.</p>
          </div>
          <form class="cta-form--1">
            <div class="form-group">
              <input type="text" class="form-control" id="inputName1" placeholder="Your name">
            </div>
            <div class="form-group">
              <input type="email" class="form-control" id="inputEmail1" placeholder="Email address">
            </div>
            <button type="submit" class="btn btn--primary hvr-bounce-to-left submit-btn">Get Started</button>
          </form>
        </div>
      </div>
    </div>
  </div>
 {% set footer_class = "bg-black-squeeze border-whisper-top" %}
{% include "_footer-1.njk" %}
   
{% endblock %}
